/bin

/gen

bin/AndroidManifest.xml
*.class
gen/com/hofc/hofc/R.java

/build
/app/build

/.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store

/.idea/dictionaries
/.idea/inspectionProfiles

/app/app.iml
/.idea/misc.xml